<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/responsive.css">
  <title>Pets B' We</title>
</head>
<body>
  <header>
    <h1>Pets B We</h1>
    <nav><ul>
      <a href="/pets"><li>Pets</li></a>
      <a href="/stores"><li>Stores</li></a>
    </ul></nav>
  </header>

  <section class="main">
    <%= yield %>
  </section>

  <footer>
    <hr>
    <a href="https://github.com/CraMo7">&copy; Craig Morton - don't steal my sweet front-end design, yeah?</a>
  </footer>
</body>
</html>