<h4>Update this store</h4>

<form action="/stores/<%= @id %>" method="put">
  <label for="name">Name:</label><input type="text" name="name">
  <label for="address">Address:</label><input type="text" name="address">
  <label for="category">Category:</label><input type="text" name="category">

  <input type="submit" class="button">
</form>